#output {
  font-family: var(--font-family-monospace);
  font-size: 14px !important;
}

#toys-container-donut {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing);
}
