header {
  display: flex;
  justify-content: space-between;

  .header-title {
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;

    &:hover {
      text-shadow: var(--primary-color) 0px 0px 5px;
    }
  }

  div {
    display: flex;
    list-style: none;
    gap: var(--spacing);

    a {
      display: flex;
      align-items: center;
      font-weight: 500;

      &.buttonlike:hover {
        text-shadow: var(--main-text-color) 0px 0px 5px;
      }

      width: 100%;
      text-decoration: none;
    }
  }

  .buttonlike {
    border: solid rgb(255 255 255 / 35%) var(--border-width);
    background: rgb(255 255 255 / 50%);
    border-radius: var(--border-radius);
    padding: 4px var(--half-spacing);

    /* box shadow white haze */
    box-shadow: var(--pane-box-shadow);
    -webkit-box-shadow: var(--pane-box-shadow-webkit);

    margin: 0 0;

    transition: text-shadow 0.2s ease, border-color 0.2s ease;

    &:hover {
      cursor: pointer;
      border-color: var(--main-text-color);
    }
  }
}

.lightmode {
  .buttonlike {
    border: solid rgb(from var(--main-text-color) r g b / 0.35) var(--border-width);
  }
}

@media screen and (max-width: 700px) {
  header {
    .header-title {
      font-size: 20px;
    }

    .buttonlike {
      font-size: 14px;
      padding: 6px;
    }
  }
}
