header {
  position: fixed;
  width: calc(100% - (2*var(--spacing)));
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px var(--spacing);
  background: var(--document-background-color);
  border-bottom: var(--terminal-border);
  z-index: 2;

  .header-title {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
  }

  .header-title, .header-nav a {
    transition: color 2s ease, text-shadow 0.3s ease;
    &:hover {
      text-shadow: var(--secondary-color) 0px 0px 5px;
    }
  }

  .header-nav {
    display: flex;
    list-style: none;
    gap: var(--half-spacing);

    a {
      display: flex;
      align-items: center;
      font-weight: 500;

      &.buttonlike:hover {
        text-shadow: var(--main-text-color) 0px 0px 5px;
      }

      text-decoration: none;
    }
  }
}

.header-time {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--font-family-monospace);
}

.transitioning {
  #theme-toggler {
    transition: background 2s ease;

    svg {
      transition: opacity 2s ease, fill 2s ease, color 2s ease;
    }

  }
}

#theme-toggler {
  border-radius: 50%;
  height: 22px;
  width: 22px;
  position: relative;
  display: block;
  transition: outline 0.2s ease;
  outline: solid rgba(0, 0, 0, 0) 1px;
  cursor: pointer;

  & svg {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}

.dark-mode-icon {
  fill: var(--main-text-color);
}

.light-mode-icon {
  fill: var(--quaterniary-color);
}

body { /* Darkmode */
  .light-mode-icon {
    opacity: 0;
  }
  .dark-mode-icon {
    opacity: 1;
  }

  #theme-toggler {
    background: var(--prompt-background-color);
    outline: solid var(--secondary-color) 1px;

    &:hover {
      outline: solid var(--main-text-color) 1px;
    }
  }
}

.lightmode {

  .dark-mode-icon {
    opacity: 0;
  }
  .light-mode-icon {
    opacity: 1;
  }

  #theme-toggler {
    background: var(--terminal-background-color);
  }
}

@media screen and (max-width: 600px) {
  .header-clock {
    display: none;
  }
}
