.snake {
  position: relative;
  
  p {

    padding: 0 !important;
    margin: 0 !important;
    width: 20px;
    text-align: center;
    font-size: 20px; /* Make sure this is the same as square size in snake.js */
    position: absolute;
  }
}
