#stack-nav-items {

  margin-top: var(--spacing);

  display: flex;
  list-style: none;
  justify-content: center;
  gap: 70px;

  li {
    width: 100px;
    height: 100px;
    position: relative;

    img {
      width: 100px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.25s ease-in-out;

      &:hover, &.active  {
        width: 140px;
        left: -20px;
        top: -20px;
      }

      &.active {
        filter: drop-shadow(0 0 2px var(--blue));
      }

      &:hover {
        filter: drop-shadow(0 0 4px var(--blue));
      }
    }
  }
}


#stack-item-info, #stack-item-name {
  padding: var(--half-spacing);
}
