@import "snake.css";

#toys-pane {
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 60px;
    padding: var(--half-spacing);
    border-bottom: var(--white-border);

    li {

      &:hover {
        cursor: pointer;
        font-weight: 700;
        text-shadow: #ffffff78 1px 1px 2px;
      }

      font-weight: 300;

      &.active {
        font-weight: 700;
      }
    }
  }
}

#toys-container-snake {
  padding: 8px;
  height: min(600px, 60vh);
  width: calc(100% - var(--half-spacing) - (var(--border-width) * 2));

  & p {
    font-weight: 500;
  }
}

.snake, .hangman {
  position: relative;

  p {
    text-align: center;
    font-size: 20px; /* Make sure this is the same as square size in snake.js */
    position: absolute;

    -webkit-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* IE10+ and Edge */
    -ms-user-select: none;
    /* Standard property */
    user-select: none;

    &:not(.infobutton) {
      width: 20px;
    }
  }

  .infobutton {
    /* top and left are set by game, we want to move them to center instead. */
    width: 100%;
    text-align: center;
    font-weight: 700;

    transition: color 0.3s ease;
    text-decoration: underline;

    padding-top: 10px !important;

    z-index: 100;

    &:hover {
      color: var(--green);
      cursor: pointer;
    }
  }

  .infotext {
    left: unset !important;

    font-weight: 400;
    opacity: 0.6;
    font-size: 12px;
    width: 100% !important;
  }
}

.snake {
  p {
    padding: 0 !important;
    margin: 0 !important;
  }
  width: 100%;
}

.hangman {
  p {
    padding: 0;
    margin: 0;
  }
}

.outer-hangman {
  padding-left: calc((100% - 440px) / 2); /* 440px is the width of hangman roughly */
}

.outer-donut {
  padding-left: calc((100% - 437px) / 2); /* Roughly width of donut */
}

@media screen and (max-width: 500px) {
  #toys-pane ul {

    gap: 20px;

    li {
      font-size: 13px;
    }

  }
}
