@import "snake.css";

#toys-pane {
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 60px;
    padding: var(--half-spacing);
    border-bottom: var(--white-border);

    li {

      &:hover {
        cursor: pointer;
        font-weight: 700;
        text-shadow: #ffffff78 1px 1px 2px;
      }

      font-weight: 300;

      &.active {
        font-weight: 700;
      }
    }
  }
}

#toys-container {
  margin: 8px;
  height: min(600px, 60vh);
  width: calc(100% - var(--spacing) - (var(--border-width) * 2));

  & p {
    font-weight: 500;
  }
}
