:root {
  --pane-opacity: 0.8;

  --spacing: 28px;
  --half-spacing: calc(var(--spacing) / 2);
  --quarter-spacing: calc(var(--spacing) / 4);

  --border-width: 2px;
  --border-radius: 4px;

  --pane-box-shadow-webkit: 0px 4px 12px 1px rgba(255,255,255,0.35); 
  --pane-box-shadow: 0px 4px 12px 1px rgba(255,255,255,0.35);

  --font-family: "Chakra Petch", sans-serif;
  --font-family-monospace: "IBM Plex Mono", monospace;

  --tablet-breakpoint: 950px;
  --phone-breakpoint: 600px;

  --white: rgb(250, 250, 250);
}

/* Darkmode default */
:root {
  --main-text-color: #D7D7D7;

  --document-background-color: #000000;
  --terminal-background-color: #383838;
  --prompt-background-color: color(srgb 0.16 0.16 0.16);

  --primary-color: #46fa14;
  --secondary-color: #8b34c5;
  --tertiary-color: #1b84e6;

  --terminal-border: solid var(--main-text-color) var(--border-width);
}

/* Lightmode */
.lightmode {
  --main-text-color:   #776D5F; /* 'graphite' */ 

  --primary-color:     #EE6C4d; /* red */
  --secondary-color:   #4A94FC; /* blue */
  --tertiary-color:    #CC59D2; /* purple */
  --quaterniary-color: rgb(255, 209, 102); /* orangeish */
  --quaterniary-color-lighter: rgb(237, 227, 212);
  --quaterniary-color-lightest: rgb(236, 228, 215);

  --prompt-background-color: var(--quaterniary-color);
  --terminal-background-color: var(--white);
  --terminal-background-color-transp: rgb(from var(--terminal-background-color) r g b / var(--pane-opacity));
  --terminal-border: solid var(--main-text-color) var(--border-width);

  --document-background-color: var(--quaterniary-color-lightest);
}
