@import "matrix.css";
@import "toys.css";


:root {
  --white: rgb(215, 215, 215);
  --black: #000000;
  --green: #45d91c;
  --blue: #1b84e6;
  --background: var(--black);
  --medium-gray: #383838;
  --dark-gray: #282828;

  --spacing: 28px;
  --half-spacing: calc(var(--spacing) / 2);

  --border-width: 2px;
  --white-border: solid var(--white) var(--border-width);

  --font-family: "Fira Sans", sans-serif;
}

* {
  margin: 0;
  font-family: var(--font-family);
  color: var(--white);
}

body {
  background: var(--background);
  height: 100%;
}

h1 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

input {
  font-weight: 500;
}

rawhtml {
  display: block;
}

main {
  width: calc(100% - 2*var(--spacing));
  padding: var(--spacing);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacing);
  position: absolute;
  z-index: 1;
  top: 0;

  .last-third-pane {
    grid-column: 3;
  }

  .first-two-thirds-pane {
    grid-column: 1 / span 2;
  }

  .all-three-panes {
    grid-column: 1 / span 3;
  }
}

.terminal-pane {
  border: var(--white-border);
  background-color: var(--medium-gray);
  max-height: calc(100vh - (var(--spacing) * 2));
  overflow-y: scroll;

  /* Hide scrollbar */
  &::-webkit-scrollbar { /* Chrome */
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* box shadow white haze */

  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 5px 12px 2px rgba(255,255,255,0.5); 
  box-shadow: 0px 10px 13px -7px #000000, 0px 5px 12px 2px rgba(255,255,255,0.5);
  border-radius: 4px;
}

.ascii {
  white-space: pre;      /* preserve spaces + newlines */
  line-height: 1;        /* often helps alignment */
  font-size: 14px;       /* optional */
  margin: 0;             /* optional */
}

.pane-chunk {

  h1, p, input, pre {
    font-size: 20px;
  }

  input {
    height: 20px;
  }

  pre {
    letter-spacing: 2px;
    line-height: 22px;
    font-weight: 300;
    text-align: center;
    width: calc(100% - var(--spacing));
  }

  h1 {
    background-color: var(--dark-gray);
    padding: var(--half-spacing);
    border-bottom: var(--white-border);
  }

  .prompt-input-span {
    color: var(--green);

    input {
      color: var(--green);
    }
  }

  &:not(:first-child) h1 {
    border-top: var(--white-border);
  }

  .result {
    p, pre {
      padding-left: var(--half-spacing);
      padding-right: var(--half-spacing);
      padding-bottom: var(--half-spacing);

      &:first-child {
        padding-top: var(--half-spacing);
      }
    }
  }

  /* the 'PS1' before the prompt */

  name { color: var(--green); }
  at { color: var(--white); margin: 0 4px; }
  host { color: var(--blue); }

  input {
    background: none;
    border: none;
    border-bottom: solid var(--medium-gray) 1px;
    min-width: 80px;
    field-sizing: content;
    max-width: calc(100% - var(--half-spacing));

    &:focus-visible, &:active {
      outline: none;
    }
  }
}


/* CUSTOM HEIGHTS FOR PANES */

#main-terminal-pane, #ascii-art-pane {
  min-height: max(70vh, 600px);
}

#stack-pane {
  min-height: max(35vh, 330px);
}

/* #toys-pane { */
/*   min-height: max(60vh, 660px); */
/* } */


/* PANE SPECIFIC STUFFS */

#stack-pane {
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }

  #stack-item-info {
    & h2 {
      padding: var(--half-spacing);
    }
  }
}
