:root {
  --fractal-width: 400px;
}

.fractal {
  width: 100%; 
  display: flex;
}

.fractal-outer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  canvas {
    border: var(--terminal-border);
  }
}

.fractal-controls {
  width: var(--fractal-width);
  display: flex;
  flex-direction: column;
  gap: 6px;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    & p {
      color: var(--secondary-color);
      font-weight: 600;
    }
  }

  button {
    background: transparent;
    border: 1px solid var(--main-text-color);
    color: var(--secondary-color);
    outline: none;
    font-weight: 600;
    border-radius: 3px;
    margin-left: 10px;
  }
}

.toys-container-outer {
  height: 570px;
}

@media screen and (max-width: 900px) {
  :root {
    --fractal-width: 350px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --fractal-width: 300px;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --fractal-width: 250px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --fractal-width: 210px;
  }

  .toys-container-outer {
    height: 500px;
  }

  .fractal {
    flex-direction: column;
  }

  .fractal-outer {
    justify-content: space-around;

    label {
      display: none;
    }

    input {
      &[name="a"]:before {
        content: "Angle: ";
        margin-right: 6px;
      }

      &[name="l"]:before {
        content: "Length: ";
        margin-right: 6px;
      }

      &[name="z"]:before {
        content: "Z: ";
        margin-right: 6px;
      }

      &[name="p"]:before {
        content: "Power: ";
        margin-right: 6px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .fractal-outer {
    flex-direction: column;
  }

  .toys-container-outer {
    height: 450px;
  }

  :root {
    --fractal-width: 170px;
  }
}

@media screen and (max-width: 340px) {
  :root {
    --fractal-width: 160px;
  }

  /* .toys-container-outer { */
  /*   height: 580px; */
  /* } */
}
