.snake {

  p {
    cursor: default;
  }

  .snake {
    color: var(--primary-color-color-color);
  }

  .fruit {
    color: var(--secondary-color);
  }

  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.snake-loading {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.loading-snake-grid {

  /* Hover effect */
  cursor: pointer;
  transition: box-shadow 0.25s ease;
  border-radius: 8px;
  &:hover {
    -webkit-box-shadow: inset 0px 0px 6px 1px var(--primary-color-color-color), 0px 0px 8px 3px var(--primary-color-color-color); 
    box-shadow: inset 0px 0px 6px 1px var(--primary-color-color-color), 0px 0px 8px 3px var(--primary-color-color-color);
  }

  /* Stuff for circling snake */
  --size: 72px;
  --gap: 6px;
  --cell: calc((var(--size) - var(--gap) * 2) / 3);
  --loading-speed: 1.2s;
  --speed-offset: calc((var(--loading-speed) / 8) * -1);

  position: relative;
  height: var(--size);
  width: var(--size);

  .cell {
    position: absolute;

    animation: move var(--loading-speed) linear infinite;
    color: var(--primary-color-color-color);
    text-align: center;
  }

  .c1 { animation-delay: 0s; }
  .c2 { animation-delay: var(--speed-offset); }
  .c3 { animation-delay: calc(var(--speed-offset) * 2); }
  .c4 { animation-delay: calc(var(--speed-offset) * 3); }
}

@keyframes move {
  0%, 12.499% {
    transform: translate(0, 0);
  }
  12.5%, 24.999% {
    transform: translate(calc(var(--cell) + var(--gap)), 0);
  }
  25%, 37.499% {
    transform: translate(calc((var(--cell) + var(--gap)) * 2), 0);
  }
  37.5%, 49.999% {
    transform: translate(
      calc((var(--cell) + var(--gap)) * 2),
      calc(var(--cell) + var(--gap))
    );
  }
  50%, 62.499% {
    transform: translate(
      calc((var(--cell) + var(--gap)) * 2),
      calc((var(--cell) + var(--gap)) * 2)
    );
  }
  62.5%, 74.999% {
    transform: translate(
      calc(var(--cell) + var(--gap)),
      calc((var(--cell) + var(--gap)) * 2)
    );
  }
  75%, 87.499% {
    transform: translate(0, calc((var(--cell) + var(--gap)) * 2));
  }
  87.5%, 99.999% {
    transform: translate(0, calc(var(--cell) + var(--gap)));
  }
  100% {
    transform: translate(0, 0);
  }
}
