.art-pane {
  .pane-chunk {
    height: 100%;
  }

  .result {

    height: calc(100% - var(--spacing) - 27px); /* Height  of the text in the prompt */

    rawhtml {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--half-spacing);
      flex-direction: column;
      width: calc(100% - var(--spacing));
      height: calc(100% - var(--spacing));
      padding: var(--half-spacing);
    }
  }
}

.stack-tooltip {
  text-align: center;
}

pre {
  transition: opacity 1.5s ease;
  font-family: var(--font-family-monospace);
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  width: fit-content;
}

.ascii-nav {

  button, &:before, &:after {
    opacity: 0.5;
    font-size: 28px;
  }

  &:before {
    content: "(";
  }

  &:after {
    content: ")";
  }

  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    opacity: 0.6;

    transition: opacity 0.3s ease;

    &.active {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 500px) {
  pre {
    font-size: 14px;
    line-height: 16px;
  }


  .ascii-nav {
    button, &:before, &:after {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 400px) {
  pre {
    font-size: 11px;
    line-height: 13px;
  }
}
