.art-pane {
  .pane-chunk {
    height: 100%;
  }

  .result {

    height: calc(100% - var(--spacing) - 27px); /* Height  of the text in the prompt */

    rawhtml {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--half-spacing);
      flex-direction: column;
      width: calc(100% - var(--spacing));
      height: calc(100% - var(--spacing));
      padding: var(--half-spacing);
    }
  }
}

.stack-tooltip {
  text-align: center;
}

#ascii-art-div {
  transition: opacity 1.5s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  p {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
  }
}

pre {
  font-family: var(--font-family-monospace);
  font-size: 15px;
  line-height: 17px;
  font-weight: 400;
  width: fit-content;
}

.ascii-nav {

  button, &:before, &:after {
    opacity: 0.5;
    font-size: 24px;
  }

  /* &:before { */
  /*   content: "("; */
  /* } */
  /**/
  /* &:after { */
  /*   content: ")"; */
  /* } */

  button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    opacity: 0.6;

    transition: opacity 0.3s ease;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 500px) {
  pre {
    font-size: 14px;
    line-height: 16px;
  }


  .ascii-nav {
    button, &:before, &:after {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 400px) {
  pre {
    font-size: 11px;
    line-height: 13px;
  }
}
