.contact-form {
  padding: var(--half-spacing);

  display: flex;
  flex-direction: column;
  gap: 20px;

  & p {
    font-size: 14px !important;
  }

  & textarea {
    resize: none;
    height: 130px;
  }

  & input, & textarea {
    background: none;
    outline: none;
    padding: var(--quarter-spacing);
    font-size: 17px;
    color: var(--main-text-color);

    border: solid rgb(from var(--main-text-color) r g b / 0.75) 1px;

    &:focus-visible, &:active, &:hover {
      outline: none;
      border: solid var(--main-text-color) 1px;
    }
  }

  & button {
    background: rgb(from var(--main-text-color) r g b / 0.1);
    font-weight: 700;
    font-size: 24px;
    padding: var(--half-spacing) 0;
    outline: none;
    border: solid var(--main-text-color) 1px;

    &:focus-visible, &:active, &:hover {
      outline: none;
      border: solid var(--main-text-color) 1px;
    }
  }
}
