.monitor-pane {

  --height: 375px;
  --monitor-height: calc(var(--height) / 2);
  min-width: min(380px, 80vw);

  .result {
    height: var(--height);
    overflow-y: hidden;
  }

  rawhtml {
    > :first-child canvas {
      border-bottom: var(--terminal-border);
    }

    > :last-child p {
      margin-top: 2px;
    }
  }

  .monitor-outer {
    height: var(--monitor-height);

    --label-height: 26px;

    p {
      line-height: 18px;
      font-size: 18px;
      font-weight: bold;
      padding: 4px;
      border-bottom: var(--terminal-border);
    }

    canvas {
      width: 100%;
      /* 2px for border width */
      height: calc(var(--monitor-height) - var(--label-height) - 2px);
    }
  }
}

@media screen and (max-width: 500px) {
  .monitor-pane {
    min-width: unset;
  }
}
