.outro-html {
  padding: var(--half-spacing);

  i, b, a, p {
    font-size: 13px !important;
  }

  i, b {
    display: block;
  }

  b {
    margin-bottom: var(--half-spacing);
  }

  i {
    margin-left: var(--half-spacing);
    margin-bottom: var(--half-spacing);
  }

  a {
    word-break: break-all;
  }
}
