.outro-html {
  padding: var(--half-spacing);
  position: relative;

  b {
    font-size: 17px;
  }

  p {
    font-size: 15px;
  }

  i, a {
    font-size: 13px;
  }

  i, b {
    display: block;
  }

  b {
    margin-bottom: 8px;
  }

  i {
    margin-left: 8px;
    margin-bottom: 8px;
  }

  a {
    word-break: break-all;
  }

  .copywright {
    text-align: center;
    position: absolute;
    width: calc(100% - var(--spacing));
    bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .outro-html {
    b {
      font-size: 14px;
    }

    p {
      font-size: 12px;
    }

    i, a {
      font-size: 10px;
    }
  }
}
