.stack-pane .result {
  padding: var(--spacing) 0;
}

.stack-nav-items {

  --item-size: 70px;
  --grow-amount: 20px;
  --item-gap: 50px;
  --offset-amount: calc(var(--grow-amount) / 2 * -1);

  margin: var(--spacing) 0;

  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  gap: var(--item-gap);

  li {
    width: var(--item-size);
    height: var(--item-size);
    position: relative;

    img {
      width: var(--item-size);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.25s ease-in-out;

      &:hover, &.active  {
        width: calc(var(--item-size) + var(--grow-amount));
        left: var(--offset-amount);
        top: var(--offset-amount);
      }

      &.active {
        filter: drop-shadow(0 0 4px var(--blue));
      }

      &:hover {
        filter: drop-shadow(0 0 8px var(--blue));
      }
    }
  }
}


.stack-item-info, .stack-item-name {
  padding: var(--half-spacing);
}

@media screen and (max-width: 1100px) {
  .stack-nav-items {
    --item-size: 50px;
    --item-gap: 30px;
    --grow-amount: 12px;
  }
}

@media screen and (max-width: 740px) {
  .stack-nav-items {
    --item-size: 40px;
    --item-gap: 24px;
    --grow-amount: 10px;
  }
}

@media screen and (max-width: 570px) {
  .stack-nav-items {
    --item-size: 30px;
    --item-gap: 18px;
    --grow-amount: 8px;
  }

  .stack-item-name {
    font-size: 18px;
  }

  .stack-item-info {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .stack-nav-items {
    --item-size: 24px;
    --item-gap: 6px;
    --grow-amount: 4px;
  }
}
