.stack-pane {

  .pane-chunk {
    height: 100%;
    overflow: hidden;
  }

  .result {
    height: calc(100% - 38px); /*HACK */

    rawhtml {
      padding: var(--spacing) 0;
      height: calc(100% - (2*var(--spacing)));
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }
}

.stack-nav-items {

  --item-size: 60px;
  --grow-amount: 18px;
  --offset-amount: calc(var(--grow-amount) / 2 * -1);

  margin: var(--spacing) 0;

  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;

  li {
    width: var(--item-size);
    height: var(--item-size);
    position: relative;

    svg {
      display: block;
      width: var(--item-size);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.25s ease-in-out;

      &:hover, &.active  {
        width: calc(var(--item-size) + var(--grow-amount));
        left: var(--offset-amount);
        top: var(--offset-amount);
      }

      &.active {
        filter: drop-shadow(0 0 3px var(--secondary-color));
      }

      &:hover {
        filter: drop-shadow(0 0 6px var(--secondary-color));
      }
    }
  }
}

.stack-item-name {
  color: var(--primary-color);
}

.stack-item-info, .stack-item-name {
  padding: var(--half-spacing);
}

/* Stack images */

.svg-fill-primary {
    fill: var(--primary-color);
}


.svg-fill-secondary {
    fill: var(--secondary-color);
}

.svg-stroke-secondary {
    stroke: var(--secondary-color);
}


.svg-fill-tertiary {
    fill: var(--tertiary-color);
}

.svg-fill-quaterniary {
  fill: var(--quaterniary-color);
}

.svg-fill-background {
  fill: var(--terminal-background-color);
}

/* MOBILE */

@media screen and (max-width: 1200px) {
  .stack-nav-items {
    --item-size: 40px;
    --grow-amount: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .stack-nav-items {
    --item-size: 30px;
    --grow-amount: 8px;
  }
}

@media screen and (max-width: 940px) {
  .stack-nav-items {
    --item-size: 40px;
    --grow-amount: 10px;
  }
}

@media screen and (max-width: 700px) {
  .stack-nav-items {
    --item-size: 30px;
    --grow-amount: 8px;
  }
}

@media screen and (max-width: 570px) {
  .stack-nav-items {
    --item-size: 30px;
    --grow-amount: 8px;
  }

  .stack-item-name {
    font-size: 18px;
  }

  .stack-item-info {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  .stack-nav-items {
    --item-size: 24px;
    --grow-amount: 4px;
  }
}

@media screen and (max-width: 380px) {
  .stack-nav-items {
    --item-size: 20px;
    --grow-amount: 3px;
  }
}
