/* =================== */
/* CONTAINER */
/* =================== */

.stack-pane {

  .pane-chunk {
    height: 100%;
    overflow: hidden;
  }

  .result {
    rawhtml {
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-rows: 190px 190px;
      gap: 20px;
    }
  }
}

/* =================== */
/* NAV ITEMS */
/* =================== */

.stack-nav {
  width: 100%;
}

.stack-nav-items {

  --item-size: 60px;
  --grow-amount: 18px;
  --offset-amount: calc(var(--grow-amount) / 2 * -1);

  margin: var(--spacing) 0;

  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;

  li {
    width: var(--item-size);
    height: var(--item-size);
    position: relative;

    svg {
      display: block;
      width: var(--item-size);
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.25s ease-in-out;

      &:hover, &.active  {
        width: calc(var(--item-size) + var(--grow-amount));
        left: var(--offset-amount);
        top: var(--offset-amount);
      }

      &.active {
        filter: drop-shadow(0 0 3px var(--secondary-color));
      }

      &:hover {
        filter: drop-shadow(0 0 6px var(--secondary-color));
      }
    }
  }
}

.stack-tooltip {
  text-align: center;
  font-size: 12px;
}

.svg-fill-primary {
  fill: var(--primary-color);
}

.svg-fill-secondary {
  fill: var(--secondary-color);
}

.svg-fill-tertiary {
  fill: var(--tertiary-color);
}

.svg-fill-quaterniary {
  fill: var(--quaterniary-color);
}

.svg-fill-background {
  fill: var(--terminal-background-color);
}

.svg-stroke-secondary {
  stroke: var(--secondary-color);
}

/* =================== */
/* STACK DETAILS */
/* =================== */

.stack-item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 var(--spacing) var(--spacing) var(--spacing);
  gap: 8px;

  h1 {
    color: var(--primary-color);
    margin-bottom: 8px;
  }

  b {
    display: block;
    color: var(--secondary-color);
    font-size: 18px;
  }
}

.stack-item-info {
  padding: var(--half-spacing);
}

.stack-item-name {
  color: var(--primary-color);
}

/* =================== */
/* MOBILE */
/* =================== */

.stack-item-info {
    min-height: 126px;
}

@media screen and (max-width: 1250px) {
  .stack-nav-items {
    --item-size: 40px;
    --grow-amount: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .stack-item-info {
      min-height: 180px;
  }
}

@media screen and (max-width: 1100px) {
  .stack-nav-items {
    --item-size: 30px;
    --grow-amount: 8px;
  }
}

@media screen and (max-width: 1100px) {
  .stack-item-info {
    min-height: 160px;
  }
}

@media screen and (max-width: 940px) {
  .stack-nav-items {
    --item-size: 40px;
    --grow-amount: 10px;
  }

  .stack-item-info {
    min-height: 126px;
  }
}

@media screen and (max-width: 700px) {
  .stack-nav-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 34px;
    column-gap: 10px;

    li {
      justify-self: center;
    }
  }

  .stack-item-info {
    min-height: 160px;
  }
}

@media screen and (max-width: 600px) {
  .stack-item-info {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  .stack-nav-items {
    --item-size: 30px;
    --grow-amount: 8px;
  }

  .stack-item-info {
    min-height: 192px;
  }
}
