@import "toys-pane.css";
@import "art-pane.css";
@import "contact-pane.css";
@import "linux-pane.css";
@import "outro-pane.css";
@import "monitor-pane.css";
@import "stack-pane.css";


/* All terminal panes */

.terminal-pane {
  border: var(--terminal-border);
  background-color: var(--terminal-background-color-transp);
  max-height: calc(100vh - (var(--spacing) * 2));
  overflow-y: auto;
  overflow-x: hidden;
  text-decoration: none;

  /* box shadow white haze */
  box-shadow: var(--pane-box-shadow);
  -webkit-box-shadow: var(--pane-box-shadow-webkit);

  border-radius: var(--border-radius);

  /* :last-child.pane-chunk { */
  /*   . */
  /* } */

  .toys-container-outer {
    transition: height 0.5s ease;
  }
}


.first-two-thirds-pane {
  grid-column: 1 / span 2;
}

.last-two-thirds-pane {
  grid-column: 2 / span 2;
}

.all-three-thirds-pane, header {
  grid-column: 1 / span 3;
}

.first-third-pane {
  grid-column: 1;
}

.last-third-pane {
  grid-column: 3;
}

.prompt {
  font-weight: 500;
  background-color: var(--prompt-background-color-transp);
  padding: 8px 16px;
  margin: 0;
  border-bottom: var(--terminal-border);

  input, span {
    font-size: 15px;
  }

  input {
    height: 15px;
    font-family: var(--font-family-monospace);
  }

  .prompt-input-span {
    color: var(--secondary-color);
    font-weight: 600;

    input {
      color: var(--secondary-color);
    }
  }

  .prompt-ps1 {
    font-size: 17px;
  }

  /* the 'PS1' before the prompt */
  name { color: var(--primary-color); }
  at { color: var(--main-text-color); margin: 0 4px; }
  host { color: var(--tertiary-color); }
  lambda { color: var(--main-text-color); margin: 0 4px; font-weight: 600; }
}

.pane-chunk {
  p {
    font-size: 15px;
  }

  &:not(:first-child) .prompt {
    border-top: var(--terminal-border);
  }
}

/* Specific Sizing */

.art-pane, .stack-pane {
  height: 430px;
}

.monitor-pane, .linux-pane {
  height: 420px;
}

.outro-html, .contact-form {
  min-height: 400px;
}

@media screen and (max-width: 940px) {
  .prompt {
    font-size: 14px;
    p, input {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 600px) {
  .pane-chunk {
    font-size: 12px;
    p, input {
      font-size: 12px;
    }
  }

  .prompt .prompt-ps1, .prompt .prompt-input-span {
    font-size: 14px;
  }

  .toys-pane {
    min-height: 530px;
  }

  .stack-pane {
    min-height: 340px;
  }

  .outro-html {
    min-height: 330px;
  }

  .contact-form {
    min-height: 330px;
  }
}
