@import "art-pane.css";
@import "contact-pane.css";
@import "linux-pane.css";
@import "outro-pane.css";
@import "stack-pane.css";
@import "toys-pane.css";


/* All terminal panes */

.terminal-pane {
  border: var(--white-border);
  background-color: rgb(from var(--medium-gray) r g b / var(--pane-opacity));
  max-height: calc(100vh - (var(--spacing) * 2));
  overflow-y: auto;
  overflow-x: hidden;
  text-decoration: none;

  /* box shadow white haze */
  box-shadow: var(--pane-box-shadow);
  -webkit-box-shadow: var(--pane-box-shadow-webkit);

  border-radius: var(--border-radius);
}

.last-third-pane {
  grid-column: 3;
}

.first-two-thirds-pane {
  grid-column: 1 / span 2;
}

.all-three-panes, header {
  grid-column: 1 / span 3;
}

.pane-chunk {

  h1, p, input {
    font-size: 17px;
  }

  input {
    height: 17px;
    font-family: var(--font-family-monospace);
  }

  h1 {
    background-color: rgb(from var(--dark-gray) r g b / var(--pane-opacity));
    padding: var(--half-spacing);
    border-bottom: var(--white-border);
  }

  .prompt-input-span {
    color: var(--purple);

    input {
      color: var(--purple);
    }
  }

  &:not(:first-child) h1 {
    border-top: var(--white-border);
  }

  /* the 'PS1' before the prompt */

  name { color: var(--green); }
  at { color: var(--white); margin: 0 4px; }
  host { color: var(--blue); }
}

/* Specific Sizing */

#main-terminal-pane, #ascii-art-pane {
  height: 560px;
}

#stack-pane {
  min-height: max(35vh, 420px);
}

#outro-pane, #contact-pane {
  min-height: 430px;
}

@media screen and (max-width: 940px) {
  .pane-chunk {
    h1, p, input {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 600px) {
  .pane-chunk {
    h1, p, input {
      font-size: 12px;
    }
  }

  #toys-pane {
    min-height: 530px;
  }
}


@media screen and (max-width: 500px) {
  #ascii-art-pane {
    height: 480px;
  }
}
